body{
    background-color: rgb(174, 232, 153);
}
h1{
    
position: absolute;
width: 304px;
height: 104px;
left: 103px;
top: 82px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;

color: #FFFFFF;
}
footer{
    background-color: black;
}
